<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>R3mb0 Render</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
	<link rel="stylesheet" href="style.css">
</head>
<body>
	
	<div class="header">
		
		<div class="menu" id="menu-trigger" onclick="animateMenu()">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
		</div>
		
		<h1>R3mb0 Render</h1>

	</div>

	<div id="app">

		<div class="container">
			
			<router-view></router-view>

		</div>

		<div class="sidebar open" id="sidebar">
			
			<div class="sidenav sidebar-item">

				<div class="sidenav-item">
					<div class="icon">Icon</div>
					<h1>Text</h1>
				</div>

				<div class="sidenav-item">
					<div class="icon">Icon</div>
					<h1>Text</h1>
				</div>

				<div class="sidenav-item">
					<div class="icon">Icon</div>
					<h1>Text</h1>
				</div>

				<div class="sidenav-item">
					<div class="icon">Icon</div>
					<h1>Text</h1>
				</div>
			</div>
			
			<div class="categorys sidebar-item">
				
				<div class="category-item">
					<h1>Category 1</h1>
				</div>

				<div class="category-item">
					<h1>Category 1</h1>
				</div>

				<div class="category-item">
					<h1>Category 1</h1>
				</div>

				<div class="category-item">
					<h1>Category 1</h1>
				</div>

			</div>

		</div>
		
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
	
	<script>
		
		const menu = document.getElementById('menu-trigger');
		const sidebar = document.getElementById('sidebar');

		function animateMenu() {
			
			menu.classList.remove('animate');
			document.getElementById('sidebar').classList.toggle('open');
			document.getElementById('sidebar').classList.toggle('closed');
			document.getElementById('sidebar').classList.add('animate');

			setTimeout(function(){
				menu.classList.add('animate');
			}, 50);

			console.log(document.getElementById('sidebar').classList);
		}

		Vue.component('image-item', {
			props: ['title', 'file_name'],
			template: 
			`
			<div class="item">
				<router-link class="image-link" :to="'image/' + this.file_name">
					<img class="item-image" :src="getPath" alt="">
				</router-link>
				<div class="item-info">
					<h1 class="info-title">{{ title }}</h1>
					<p class="info-desc">
						<slot></slot>
					</p>
					
				</div>
			</div>
			`,
			computed: {

				getPath: function() {
					return "assets/" + this.file_name + ".png"
				}
			}
		});

		const image_overview = ('image_overview', {
			template: 
			`
			<div class="image-overview">
				<image-item
					v-for="(item, key) in getItems"
					:title="item.name"
					:file_name="item.path"
					:key="key"
				>
				{{ item.desc }}
				</image-item>
			</div>
				
			`,
			computed: {
				getItems: function() {
					return this.$router.app.$data.items	
				}
			}
		})

		const image_view = { 
				name: 'image-view', 
				template: '<img :src="getPath" alt="" class="item-image big">',
				computed: {
					getPath: function() {
						return "assets/" + this.$route.params.path + ".png"
					}
				}
		} 

		const routes = [
			{ 
				path: '/', 
				component: image_overview
			},
			{ 
				path: '/image/:path', 
				component: image_view,
			},
		]

		const router = new VueRouter({
			routes
		})

		var vm = new Vue({
			el: '#app',
			router,
			data: {
				items: [
					{ 
						name: 'Toxic Cup', 
						path: 'toxic-cup', 
						desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facere voluptatibus consectetur.' 
					},
					{ 
						name: 'Toxic Cup 2', 
						path: 'toxic-cup-2',
						desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facere voluptatibus consectetur.'
					},
					{ 
						name: 'Food', 
						path: 'food4',
						desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facere voluptatibus consectetur.' 
					},
					{ 
						name: 'Food', 
						path: 'food4',
						desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facere voluptatibus consectetur.' 
					},
					{ 
						name: 'Food', 
						path: 'food4',
						desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facere voluptatibus consectetur.' 
					},
					{ 
						name: 'Food', 
						path: 'food4',
						desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis facere voluptatibus consectetur.' 
					}
				]
			}
		})

	</script>

</body>
</html>