:root {
	--main-bg-color: #383c4a;
	--sec-bg-color: #4b5162;
	--item-bg-color: #404552;
	--card-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

html,
body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 3000px;

    font-family: 'Roboto', sans-serif;

    background-color: var(--main-bg-color);
}

.container {
	margin: 8rem 50% 0;
	padding: 1.2rem;

	position: absolute;

    display: flex;
	flex-direction: column;

    background-color: var(--sec-bg-color);
	
	transform: translate(-50%, 0);

    width: 90%;
}

.image-overview {
	display: inline-flex;

	flex-flow: row wrap;
	
	justify-content: flex-start;
}

.item {
    text-align: center;
	
	display: block;

	border-radius: 0.2rem;

    margin: 0.5rem;

    width: 300px;
    flex-basis: auto;
}

.item-image {
	margin: 0 auto;

    width: 100%;
    height: auto;
}

.item-image.big {
	width: 80%;
}

.item-info {
    padding: 1rem;
    margin: 0;
}

.info-title {
    padding: 0;
    margin: 0;
}

.header {
	position: fixed;
	
	align-items: center;

	justify-content: center;

	background-color: white;

	width: 100%;

	z-index: 100;
}

.menu {
	margin: 0;
	padding: 1rem;

	position: absolute;
	
	top: 50%;
	left: 1.2rem;

	transform: translate(0, -50%);

	height: 2rem;
	width: 2rem;
}

.menu:hover {
	cursor: pointer;
}

.menu.animate::before {
	animation: click 0.8s ease;
}

.menu::before {
	content: '';

	position: absolute;
	
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	border-radius: 50%;

	background-color: rgba(0, 0, 0, 0.2);

	transform: scale(0);
	opacity: 1;
}

@keyframes click {

	0% {
		transform: scale(0);
		opacity: 1;
	}
	
	70% {
		transform: scale(1);
		opacity: 0.5;
	}

	100% {
		opacity: 0;
		transform: scale(1);
	}

}

.menu > svg {
	padding: 0;
	margin: 0;

	height: 2rem;
	width: 2rem;
}

.header > h1 {
	padding: 0.5rem 0;
	margin: 0;
	
	width: 100%;
	
	display: inline-block;

	font-size: 3rem;

	text-align: center;
}

.image-link {
	text-decoration: none;
	color: grey;
	font-size: 1.2rem;
}

.sidebar {
	position: fixed;
	
	padding: 0;

	height: 100vh;

	background-color: #e0e0e0;
}

.sidebar.animate.closed {
	animation: navbar-slide-out .4s ease;
	transform: translate(-100%, 0);
}

.sidebar.animate.open {
	animation: navbar-slide-in .4s ease;
	transform: translate(-0%, 0);
}

@keyframes navbar-slide-in {

	from {
		transform: translate(-100%, 0);
	}

	to {
		transform: translate(-0%, 0);
	}

}

@keyframes navbar-slide-out {

	from {
		transform: translate(-0%, 0);
	}

	to {
		transform: translate(-100%, 0);
	}

}

.sidenav {
	margin: 5rem 0;
}

.sidenav-item {
}

.sidebar-item {
	
}

.sidebar-item > div {
	box-sizing: border-box;
	
	padding: 0.8rem 5rem 0.8rem 2rem;
	margin: 0;

	display: flex;

	align-items: center;

	justify-content: center;

	width: 100%;
	
	transition: background-color .2s;
}

.sidebar-item > div:hover {
	background-color: grey;
}